/* ....................................GENERAL */

/* Sets background image for body, back-up color and project font*/

html {

    background: url("./assets/images/bg2.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: "helvetica-neue", sans-serif;

}

h1 {
    color: white;
}

/* ....................................CONTAINER */

/* aligns text to center removes margin */

.container {
    margin: 0 auto;
    text-align: center;
}

/* ....................................GAME BOARD */

/* removes the margin top space, assigns width and height, outlines the device with border and makes circle with border radius */

.game-board {
    margin: 0 auto;
    margin-top: 50px;
    border: solid 10px black;
    width: 600px;
    height: 600px;
    border-radius: 600px;
}

/* ....................................PADS */

/* removes margin, sets positioning, width, height, z-index positions it above the board and outlines it with a border */

.pad {
    margin: 0;
    float: left;
    position: relative;
    width: 290px;
    height: 290px;
    z-index: 8;
    border: 5px solid black;
}

/* colors a pad green and rounds the corner to fit in the board */

.green {
    background-color: green;
    border-radius: 300px 0 0 0;
}

/* colors a pad darkgreen when active */

.green-active {
    background-color: darkgreen !important;
}

/* colors a pad red and rounds the corner to fit in the board */

.red {
    background-color: darkred;
    border-radius: 0 300px 0 0;
}

/* colors a pad darkredwhen active */

.red-active {
    background-color: darkred !important;
}

/* colors a pad yellow and rounds the corner to fit in the board */

.yellow {
    background-color: #BDB76B;
    border-radius: 0 0 0 300px;
}

/* colors a pad gold when active */

.yellow-active {
    background-color: #BDB76B !important;
}

/* colors a pad blue and rounds the corner to fit in the board */

.blue {
    background-color: darkblue;
    border-radius: 0 0 300px 0;
}

/* colors a pad darkblue when active */

.blue-active {
    background-color: darkblue!important;
}

/* ....................................CONTROLS */

/* sets width, height, color, outline and positions it above game board and pads and in the center */

.controls {
    width: 245px;
    height: 245px;
    margin-left: 160px;
    margin-top: 160px;
    background-color: gray;
    border: solid 10px black;
    border-radius: 150px;
    position: absolute;
    z-index: 10;
  

}

/* positions and styles the title */

.game-title {
    margin-top: 30px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;

}

/* positions and aligns the elements assigned this class*/

.inline-positioner {
    display: inline-block;
    vertical-align: middle;

}

/* sets height and width and adds border outline */

.display {
    width: 60px;
    height: 45px;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 40px;
    background-color: #342626;
    color: white;
    opacity: 0.33;
}

/* positions and styles start text */

.start {
    margin: 0px;
    margin-left: 20px;
    text-align: center;
    width: 55px;
    height: 55px;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-size: 12px;
    line-height: 55px;
    font-weight: bold;
}

/* colors button red */

.start {
    background-color: darkred;

}

/* colors button yellow */




/* styles right side of on/off switch */

.switch-right {
    width: 60px;
    height: 30px;
    border: solid 1px black;
    background-color: black;

}

/* styles left side of on/off switch */

.switch-left {
    width: 30px;
    height: 30px;
    background-color: gray;

}

/*...................................GAME MODE SWITCH */

.mode-box {
    width: 300px;
    height: 150px;
    margin-left: 160px;
    margin-top: 160px;
    background-color: gray;
    border: solid 10px black;
    position: absolute;
    z-index: 10;
    border-radius: 15%;

}

.mode-right {
    width: 140px;
    height: 30px;
    border: solid 1px black;
    background-color: black;
    


}

/* styles left side of on/off switch */

.mode-left {
    width: 70px;
    height: 30px;
    background-color: gray;


}


.easy,
.hard {
    color: black;
}

.mode-container {
    padding-top: 10px;
    top: 50%;
    left: 50%;

}

.mode-title {
    margin-top: 30px;
    
    font-size: 30px;
    font-weight: bold;
    color: black;
    top: 50%;
    left: 50%;



}

.wire {
    position: absolute;
    top: 30%;
    left: 100%;
    width: 60%;
    z-index: -10;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(50, 50, 50, 0.75));

    
}

/*.................................VICTORY MODAL*/
/* The animation code */

#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0.5s linear 0.25s, opacity 0.75s 0s, transform 0.75s;
    z-index: 10;
    
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30rem;
    border-radius: 0.5rem;
    color: black;
    height: 30rem;
}

.modal-heading {
    color: black;
    text-align: center;
    font-family: "helvetica-neue", sans-serif;

}

.trophy {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;

}

.modal-text {
    text-align: center;
    font-family: "helvetica-neue", sans-serif;

}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "helvetica-neue", sans-serif;
}

.modal-button {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(92, 184, 92);
    font-family: "helvetica-neue", sans-serif;
    border-bottom-color: rgb(92, 184, 92);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(92, 184, 92);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(92, 184, 92);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(92, 184, 92);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    font-family: sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    touch-action: manipulation;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;
}
